.app.dark {
    --bg-color: #1e1e1e;
    --inverted-bg-color: #1e1e1e;
    --primary-color: #f9f5f6;
    --secondary-color: #f9f5f6;
    --inverted-primary-color: #f9f5f6;
    --inverted-secondary-color: #f9f5f6;
}
