.app.dark {
    --bg-color: #1E1E1E;
    --inverted-bg-color: #1E1E1E;

    --primary-color: #F9F5F6;
    --secondary-color: #F9F5F6;
    --inverted-primary-color: #F9F5F6;
    --inverted-secondary-color: #F9F5F6;
}
