.app.light {
    --bg-color: #F9F5F6;
    --inverted-bg-color: #F9F5F6;

    --primary-color: #1E1E1E;
    --secondary-color: #1E1E1E;
    --inverted-primary-color: #1E1E1E;
    --inverted-secondary-color: #1E1E1E;
}
